@model UPCNETSystemCliente.ViewModel.Panel._AddEditCursoClase   
@{
    ViewBag.Title = "Usuarios";
    Model.Modo = Model.IDCurso == "" ? "Nuevo" : "Editar";
}
<form role="form" method="post" action="@Url.Action("AddEditCursoClase","Panel")">
    <div class="form-group">
        <label>Modo</label>
        @Html.TextBoxFor(x => x.Modo, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>Curso</label>
        @Html.DropDownListFor(x => x.objCursoClase.IDCurso, Model.selectCursos)
    </div>
    <div class="form-group">
        <label>IDClase</label>
        @Html.TextBoxFor(x => x.objCursoClase.IDClase, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Dia</label>
        @Html.TextBoxFor(x => x.objCursoClase.Dia, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Hora Inicio</label>
        <select id="HoraInicio" class="form-control" name="HoraInicio">
            <option> 08:00 </option>
            <option> 09:00 </option>
            <option> 10:00 </option>
            <option> 11:00 </option>
            <option> 12:00 </option>
            <option> 13:00 </option>
            <option> 14:00 </option>
            <option> 15:00 </option>
            <option> 16:00 </option>
            <option> 17:00 </option>
            <option> 18:00 </option>
            <option> 19:00 </option>
            <option> 20:00 </option>
            <option> 21:00 </option>
            <option> 22:00 </option>
            <option> 23:00 </option>
        </select>
    </div>
    <div class="form-group">
        <label>Hora Fin</label>
        <select id="HoraFin" class="form-control" name="HoraFin">
            <option> 08:00 </option>
            <option> 09:00 </option>
            <option> 10:00 </option>
            <option> 11:00 </option>
            <option> 12:00 </option>
            <option> 13:00 </option>
            <option> 14:00 </option>
            <option> 15:00 </option>
            <option> 16:00 </option>
            <option> 17:00 </option>
            <option> 18:00 </option>
            <option> 19:00 </option>
            <option> 20:00 </option>
            <option> 21:00 </option>
            <option> 22:00 </option>
            <option> 23:00 </option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Guardar
    </button>
    <a href="@Url.Action("MantenimientoCurso","Panel")" class="btn btn-default">
        <i class="fa fa-arrow-circle-o-left"> Cancelar</i>
    </a>
</form>