@model UPCNETSystemCliente.ViewModel.Panel._MantenimientoProfesores
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title"><strong>Mantenimiento de Profesores</strong></h5>
    </div>
    <div class="panel-body">
        En esta sección podrás gestionar los Profesores del sistema.
    </div>
    <div class="panel-body">


        <fieldset class="content-group">
            <legend class="text-bold">Opciones</legend>
            <i class="icon-user-plus">
                <a href="@Url.Action("AddEditProfesor",  new { IDProfesor = "",Modo="Nuevo" })"> Registrar Profesor </a>
            </i>
        </fieldset>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>IDProfesor</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Password</th>
                <th>Dirección</th>
                <th>DNI</th>
                <th>Edad</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListObjetos)
            {
                <tr>

                    <td>@item.IDProfesor</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.Correo</td>
                    <td>@item.Password</td>
                    <td>@item.Direccion</td>
                    <td>@item.DNI</td>
                    <td>@item.Edad</td>
                    <td>

                        <a href="@Url.Action("AddEditProfesor",
                              new
                              { IDProfesor = item.IDProfesor,
                                Modo= "Editar"})">
                            <i class="fa fa-edit"></i> Editar
                        </a>

                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>